<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<hr />
<table border="1" width="700">
    <tr>
        <th>
            A/C NUMBER
        </th>
        <td>
            CIS
        </td>
        <th>
            NOTE No.
        </th>
        <th>
            39762
        </th>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            CIS INDUSTRIAL
        </td>
        <th>
            Customer Ref.
        </th>
        <th>
            CREF1234
        </th>
    </tr>
</table>
<hr />
<table border="1" width="700">
    <tr>
        <th>
            COLLECT FROM
        </th>
        <td>
            YRT123
        </td>
        <td>
            28/10/2013
        </td>
        <td>
            
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            6 YEARLY TACHO
        </td>
        <td>
            Z302
        </td>
        <td>
            SUBBY
        </td>
    </tr>
</table>
<hr />