<br />
<table>
    <tr>
        <td class="center">
            Lifting equipment (ie, chains and slings) may be provided with the vehicles.<br />
            The Owner's lifting equipment, which may be used by the Hirer, must be fully examined by the Hirer before use.<br />
            Equipment is used at the Hirer's own risk. No liability will be accepted by the Owner for damage caused by the Hirer using the Owner's lifting equipment.<br />
            THE CUSTOMER IS RESPONSIBLE FOR THE SAFETY SLINGING OF ANY LOADS<br />
            <br />
            ALL GOODS ARE CARRIED UNDER RHA CONDITIONS OF CARRIAGE 1998 UNLESS AGREED PRIOR TO COMMENCING ANY WORK.<br />
            THESE CONDITIONS ARE AVAILABLE ON REQUEST
        </td>
    </tr>
</table>