<table>
    <tr>
        <td>
            Owler Lane<br />
            Birstall,Batley<br />
            West Yorkshire<br />
            WF17 9BW <br />
            Phone: 01924 - 443290<br />
            Fax: 01924 - 448910<br />
            e.mail: traffic@cisindustrial.co.uk<br />
            Company Reg: 6795978<br />
        </td>
        <td class="banner">
            C.I.S. Industrial Group Limited
        </td>
    </tr>
</table>
<table>
    <tr>
        <td class="center">
            SPECIALISTS IN MACHINERY MOVEMENT AND TRANSPORTATION
        </td>
    </tr>
</table>